<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/c7c9c0be45.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="">
    <title>Edit profile</title>
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container text-center w-50">
            <h3>PhotoSnap</h3>
            <div class="d-flex justify-content-center align-items-center container-fluid">
                <input class="form-group py-2 rounded" type="search" value="search">
            </div>
            <div class="d-flex flex-row center-block">
                <a href="/users_page" class="fa-solid fa-house fa-2x p-2"></a>
                <i href="#" class="fa-solid fa-comment-dots fa-2x p-2"></i>
                <a href="/new" class="fas fa-plus-square fa-2x p-2"></a>
            </div>
        </div>
    </nav>

    <div class="py-3"></div>
    <div class="container w-50 rounded bg-light" style="border: 1px solid black;">
        <form action="/editprofile" method="post" enctype="multipart/form-data">
            <div>
                <div>
                    <h1>Edit profile</h1>
                    <img alt="Change profile photo" height="100" width="100" class="rounded-circle"
                        src="/usersProfileImages/<%= loggedInUser.profile.profileimg %>">

                        <!-- <input type="hidden" name="old_image" value="<%= loggedInUser.profile.image %>"> -->
                    
                    <div class="form-group">
            
                        <input type="file" name="image" class="form-control-file">
                    </div>
                   
                </div>
            </div>
        
            <div class="mb-3 py-1 row">
                <label class="col-sm-2" for="Name">Name</label>
                <div class="col-sm-10" style="width: 100%; max-width: 355px;">
                    <input id="Name" name="name" placeholder="Name" type="text" class="form-control" value="<%= data.user.name %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2" for="Username">Username</label>
                <div class="col-sm-10">
                    <input id="Username" name="username" placeholder="Username" type="text" class="form-control" value="<%= data.user.username %>" required>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2" for="Website">Website</label>
                <div class="col-sm-10">
                    <input id="Website" name="website" placeholder="Website" type="text" class="form-control"
                    value="<%= data.user.website %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2" for="Bio">Bio</label>
                <div class="col-sm-10"><textarea name="bio" rows="6" cols="50" maxlength="150"
                        placeholder="Enter your bio here...."><%= data.user.bio %></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <div style="width: 100%; max-width: 350px;">
                        <div>
                            <h2>Personal information</h2>
                        </div>
                        <div class="fst-italic">Provide your personal information, even if the
                            account is
                            used for a business, a pet or something else. This won't be a part of your public profile.
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2" for="Email">Email</label>
                <div class="col-sm-10">
                    <div style="width: 100%; max-width: 355px;">
                        <input id="Email" name="email" placeholder="Email" type="text" class="form-control" value="<%= data.user.email %>">
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2" for="Phone Number">Phone number</label>
                <div class="col-sm-10">
                    <div style="width: 100%; max-width: 355px;">
                        <input placeholder="Phone number" name="phone" type="text" class="form-control" value="<%= data.user.phone %>">
                    </div>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2" for="Gender">Gender</label>
                <div class="col-sm-10">
                    <fieldset data-role="controlgroup">
                        <legend>Choose your gender:</legend>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="male" value="male" <%= (data.user.gender == 'male' ? 'checked' : '') %>>
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="female" value="female" <%= (data.user.gender == 'female' ? 'checked' : '') %>>
                        <label for="">Nonbinary</label>
                        <input type="radio" name="gender" id="nonbinary" value="nonbinary" <%= (data.user.gender == 'nonbinary' ? 'checked' : '') %>>
                        <label for="Prefer not to say">Prefer not to say</label>
                        <input type="radio" name="gender" id="na" value="na" <%= (data.user.gender == 'na' ? 'checked' : '') %>>
                    </fieldset>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2"></label>
                <div class="col-sm-10">
                    <button class="btn btn-secondary" type="submit">Update profile</button>
                    <button class="btn btn-secondary" type="button" onclick="window.location.href='/deleteprofile'">Delete my
                        account</button>
                </div>
            </div>
    </div>
    </form>
    </div>
</body>

</html>